.testimonial{
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.testimonial-title{   
    font-size: 50px;
    padding-top: 10px;
    font-family: "Playfair Display", serif;
    color: #06233C;
}
.testimonial-description {
    font-size: 15px;
    
}

.testimonial-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    
    
}
.testimonial-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 300px;
    height: 500px;
    font-size: 10px;
    background-color: #06233C;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    color: var(--color-white);
    transition: .2s;
    

}
.persona-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;  
}
.testimonial-card:hover{
    background-color: var(--color-white);
    color: var(--color-black);
}

.title{
    font-size: 20px;
    margin-top: 20px;
    
}
.role{
    font-size: 15px;
    
}
.testimonie{
    display: grid;
    place-content: center;
    padding:20px;
    line-height: 1.5rem;
    letter-spacing: 1px;
    font-size: 10px;
    

    
}

.testimonial-details {
    margin-top: 10px;
    display: grid;
    place-content: center;

}
.profile-pic{
    max-width: 300px;
    max-height: 200px;
    display: block;
    object-fit: cover;
}
.stars{
    display: grid;
    place-content: center;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    font-size: 20px;
    color: orange;
    
}